/* for work sans font */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared */
.display-flex {
  display: flex;
}

.dark1 {
  color: #131313;
}
.dark2 {
  color: #424242;
}
.dark3 {
  color: #727272;
}
.dark4 {
  color: #a1a1a1;
}
.dark5 {
  color: #d0d0d0;
}
.dark6 {
  color: #e7e7e7;
}
.dark7 {
  color: #f3f3f3;
}
.color-primary{
  color: #ff900e;
}
.primary-bg{
  background-color: #ff900e;
}

.bg {
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
  background-color: #ff900e;
  color: white;
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.25rem;
}

main{
  max-width: 1440px;
  margin: 0 auto;
}

main > section{
  margin-top: 130px;
}
.section-tittle{
  font-size: 2.8rem;
  font-weight: 700;
}

/* style in Header */
.head{
  padding:0px 140px;
}

/* style navbar */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.brand {
  font-weight: 700;
  font-size: 2.8rem;
}
.nav-item {
  list-style: none;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500px;
  font-size: 1.1rem;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}


/* style banner */
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-tittle{
  font-weight: 700;
  font-size: 4rem;
}
.banner-description{
  font-weight: regular;
  font-size: 1rem;
  margin-bottom: 30px;
}
.banner-image{
  width: 100%;
}

/* style in main section */

/* team and features */
.teams{
  align-items: center;
}
.our-features{
  margin-left: 130px;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  gap: 24px;
}

#quick{
  font-weight: 500;
}

/* style in feature tittle */
#feature-tittle-description{
  border-left: 5px solid #FF900E;
  padding-left: 20px;
}
.features{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  margin-top: 50px;
}
.feature-card{
  padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  border-radius: 8px;
}
.feature-card h3{
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0px;
  margin-bottom: 0px;
}
.section-tittle{
  font-weight: 700;
  font-size: 2.8rem;
}

/* style in some facts */

.fact-description{
  max-width: 540px;
}
.facts-container{
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact-card{
  justify-content: center;
  border: 1px solid #ff900e;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  align-items: center;
  text-align: center;
}
.fact-number{
  font-weight: 600;
  font-size: 2.8rem;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name{
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 10px;
}

/* Sponsor related style */
.sponsor-info{
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}
.sponsor-tittle{
  font-weight: 700;
  font-size: 2.8rem;
}
.sponsor-description{
  font-size: 1rem;
}
.sponsor-companies{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img{
  filter: grayscale(100%);
}

/* responsive for small device*/

@media screen and (max-width: 576px) {
  .head, .main{
    padding: 10px;
  }
  .navbar, .nav-links, .teams{
    flex-direction: column;
  }

  .team-img-container, .facts-container,.sponsor-companies{
    grid-template-columns: repeat(1, 1fr);
  }
  .facts-container,.sponsor-companies{
    justify-items: center;
    gap: 25px;
  }
  .our-features{
    margin-left: 20px;
  }
}

/* responsive medium size device */

@media screen and (min-width: 576px) and (max-width: 978px){
  .teams{
    flex-direction: column;
  }
  our-features{
    margin: 20px auto;
  }

  .facts-container,.sponsor-companies{
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    justify-items: center;
  }
}