/* for work sans font */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared */
.display-flex {
  display: flex;
}

.dark1 {
  color: #131313;
}
.dark2 {
  color: #424242;
}
.dark3 {
  color: #727272;
}
.dark4 {
  color: #a1a1a1;
}
.dark5 {
  color: #d0d0d0;
}
.dark6 {
  color: #e7e7e7;
}
.dark7 {
  color: #f3f3f3;
}
.color-primary{
  color: #ff900e;
}
.primary-bg{
  background-color: #ff900e;
}

.bg {
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
  background-color: #ff900e;
  color: white;
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.25rem;
}

main{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 200px;
}

main > section{
  margin-top: 130px;
}

/* style in Header */
.head{
  padding:0px 140px;
}

/* style navbar */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.brand {
  font-weight: 700;
  font-size: 2.8rem;
}
.nav-item {
  list-style: none;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500px;
  font-size: 1.1rem;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}


/* style banner */
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-tittle{
  font-weight: 700;
  font-size: 4rem;
}
.banner-description{
  font-weight: regular;
  font-size: 1rem;
  margin-bottom: 30px;
}
.banner-image{
  width: 100%;
}

/* style in main section */

/* team and features */
.teams{
  align-items: center;
  gap: 130px;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  gap: 24px;
}
.feature-tittle{
  font-size: 2.8rem;
  font-weight: 700;
}
#quick{
  font-weight: 500;
}

/* responsive */

@media screen and (max-width: 576px) {
  .head{
    padding: 0px;
  }
  .navbar, .nav-links{
    flex-direction: column;
  }
}